
.hero {
  padding: 2rem 5rem;
  opacity: 0;
  transform: translateZ(0);
  transition-timing-function: ease;
  transition-duration: .8s;
  animation: flyInAnimation 1s ease-in-out forwards;
}

.brands{
  padding: 2rem 5rem;
}
.brands>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brandHead{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 26px 0;
}
.brandHead p:first-child{
  font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}
.brandHead p:last-child{
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: rgb(54, 55, 75);
}
.brandNames{
    /* display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
    transform: perspective(500px) translate3d(-100px, 0, 0px);
    animation: sliding 2s ease-in-out infinite; */
    padding: 60px 0;
    /* white-space: nowrap; */
    overflow: hidden ;
    display: flex;
    white-space: nowrap;
    width: 100%;
  }

  @keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
    
}

.logos{
  /* width: 100%; */
  display: inline-block;
  animation: 20s slide infinite linear;
  animation-delay: -.5s;
}
.logos img{
  width: 12vw;
  height: 12vh;
  margin: 0 20px;
  padding: 12px 0px;
  border: 1px solid rgb(231, 231, 240);
  border-radius: 8px;
}
  /* .brandNames>div>div>div:only-of-type{
    padding: 12px 0px;
    border: 1px solid rgb(231, 231, 240);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 8px;
  } */
/* .brandImg{
  width: 8vw;
  height: auto;
} */

@keyframes flyInAnimation {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.innerBox {
  display: flex;
  margin: 5vw 0vw 4vw;
  border-radius: 4px;
  background-color: rgb(233, 244, 255);

}

.boxContent {
  padding: 4vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
}

.boxContent>h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 52px;
  margin-bottom: 12px;
}

.boxContent>p {
  font-size: 20px;
  margin-bottom: 16px;
}

.boxContent>h1>span {
  color: rgb(38, 78, 255);
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
}

.boxBanner {
  margin-top: -4vw;
  height: auto;
}

.boxImage {
  width: 28vw;
  margin-right: 34px;
}

.googleplay {
  padding: 0.5rem 1rem;
  border: 0px solid rgb(209, 217, 233);
  border-radius: 8px;
  width: 120px;
  height: auto;
}


@media (max-width:786px) {
  .hero {
    padding: 2rem 1rem;
  }

  .boxContent>h1 {
    text-align: center;
  }

  .boxBanner {
    display: none;
  }

  .boxContent {
    align-items: center;
  }
}


.productsOnZet{
  background-color:#d1d3d7;
  background-image: url("/bgproduct.svg");
  background: linear-gradient(168deg, rgb(233, 244, 255) 0%, rgb(255, 255, 255) 100%);
  /* padding-top: 2vw;
  padding-bottom: 8vw; */
  padding: 2rem 5rem;
  position: relative;
}

.cardContainer{
  display: grid;
  gap: 2vw;
  margin-top: 4vw;
  position: inherit;
  z-index: 10;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.card1{
  background-color: red;
}